#{extends 'main.html' /}
#{set title:'Account Management' /}

<div class="main container-fluid">
	<h1>Modifier mes informations</h1>
	<p>Bonjour ${test.username} voici vos informations:</p>

	#{form @Modifier.update()}

	<div class="form-group row">
		<label class="col-sm-2">Password : </label>
		<div class="col-sm-10"><input class="form-control" name="password" type="password" value ="${test.password}" required></div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2">First Name : </label>
		<div class="col-sm-10"><input class="form-control" name="firstname" type="text" value="${test.firstName}" required></div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2">Last Name : </label>
		<div class="col-sm-10"><input class="form-control" name="lastname" type="text" value="${test.lastName}" required></div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2">Phone Number : </label>
		<div class="col-sm-10"><input class="form-control" name="phonenumber" type="text" value="${test.phonenumber}" required></div>
	</div>
	<div class="form-group row"><input class="btn btn-primary" type="submit" name="Update"></div>

	#{/form}

</div>