#{extends 'main.html' /}
#{set title:'Account Management' /}

<div class="main container-fluid">
	<h1>Les informations de votre nouveau restaurant </h1>

	#{if infodesc}
			<p><strong>ATTENTION !</strong> Le resturant n'a pas de restaurateur assigné.</p>
	#{/if}	
	#{else}
	<p>Restaurateur: ${resto.admin}</p>
	#{/else}		
	<p>Description: ${resto.description}</p>

	<div class="row"><a class="btn btn-primary btn-lg" role="button" href="http://localhost:9000/Application/formulaireResto">Ajouter un nouveau</a></div></br>
	<div class="row"><a class="btn btn-primary btn-lg" role="button" href="/">Accueil</a></div></br>
</div>

