#{extends 'main.html' /}
#{set title:'Delete restaurant' /}


<div class="main container-fluid">
	<h1>Supprimer un restaurant</h1>
	<p>Quel est le nom du restaurant que vous voulez supprimer?</p>

	#{form @Application.confirmationRestoDel()}


	<div class="form-group row">
		<label class="col-sm-2">Name : </label>

	<select size="1" name="restoName">
	#{list listeResto, as:'restaurant'}
	<option name="restoName" id="restoName" value="${restaurant.name}">${restaurant.name}</option>
	#{/list}
	</select>

	</div>


	<div class="form-group row">
		<input class="btn btn-primary" type="submit" name="Delete"/>
	</div>


	#{/form}
</div>