#{extends 'main.html' /}
#{set title:'ADd Menu' /}


<div class="main container-fluid">
	#{form @Application.createMenu()}
	<div class="form-group row">
		<label class="col-sm-2">Name : </label>
		<div class="col-sm-10"><input class="form-control" name="name" type="text" placeholder="Enter name"></div>
	</div>

		<select class="form-control" size="1" name="resto">
		#{list listeResto, as:'restaurant'}
		<option name="resto" id="resto" value="${restaurant.name}">${restaurant.name}</option>
		#{/list}
		</select>

	<div class="form-group row">
		<input class="btn btn-primary" type="submit" name="Create"/>
	</div>
	#{/form}
</div>