#{extends 'main.html' /}
#{set title:'Accueil' /}

#{if login}

Bonjour <b>${user.username}</b> que voulez vous faire ? </br></br></br>


	#{if user.type == "Client"}

		<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application\logout">Logout</a></div></br>
		<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application\account">Modifiez vos informations </a></div></br>
		<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application\manageMenus">Modifiez les menus</a></div></br>
	#{/if}

	#{else}

		<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application\formulaireResto">Créez un restaurant</a></div></br>

		<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application\manageResto">Modifiez un restaurant</a></div></br>

		<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application\deleteResto">Supprimer un restaurant</a></div></br>

		<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application\passerCommande">Passer une commande</a></div></br>
	#{/else}
#{/if}

#{else}

<div class="main container-fluid">
	<div class="row"><a class="btn btn-primary btn-lg" role="button" href="Application/formulaire">Create a new user</a></div><br>
	#{form @Application.login()}

	<div class="form-group row">
		<label class="col-sm-2">Username : </label>
		<div class="col-sm-10"><input class="form-control" name="username" type="text" placeholder="Enter username"></div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2">Password : </label>
		<div class="col-sm-10"><input class="form-control" name="password" type="password" placeholder="Enter password"></div>
	</div>
	<div class="form-group row">
		<input class="btn btn-primary" type="submit" name="Login" />
	</div>
	#{/form}
	#{/else}
</div>