#{extends 'main.html' /}
#{set title:'Account Menu' /}

<div class="main container-fluid">
	#{if user.type == "Client"}
	<p>Le compte ${user.username} est connecté, que voulez vous faire: </p>

	<div class="row">
		<div class="col-xs-6">
			<div class="half-part">
				<h2>Votre compte</h2>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/account">Modifiez vos informations </a></br>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/passerCommande">Passer une commande</a></br>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/logout">Logout</a></br>
			</div>
		</div>
	</div>

	#{/if}
	#{else}
		<p>Le compte ${user.username} est connecté, que voulez vous faire: </p>

	<div class="row">
		<div class="col-xs-6">
			<div class="half-part">
				<h2>Votre compte</h2>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/account">Modifiez vos informations </a></br>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/passerCommande">Passer une commande</a></br>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/logout">Logout</a></br>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="half-part">
				<h2>Admin</h2>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/manageRestaurant">Gestion des restaurants</a>
				<a class="btn btn-primary btn-lg" role="button" href="/Application/manageRestaurateur">Gérer les restaurateurs</a></br>
					
				<a class="btn btn-primary btn-lg" role="button" href="/Application/manageMenus">Gestion des menus</a></br>
			</div>
		</div>
	#{/else}
</div>
