#{extends 'main.html' /}
#{set title:'Confirmation' /}

<div class="main container-fluid">

	#{if login}
		<h1>Modifier un restaurant</h1>

		<p>Nom: ${resto.name}</p>
		<p>Restaurateur: ${resto.admin}</p>
		<p>Description: ${resto.description}</p>

	#{/if}

	#{else}

	<h1>Quel resto voulez vous modifier:</h1>
	#{form @Application.updateResto()}
		<select class="form-control" size="1" name="restoName">
		#{list listeResto, as:'restaurant'}
		<option name="restoName" id="restoName" value="${restaurant.name}">${restaurant.name}</option>
		#{/list}
		</select>
		<input class="btn btn-primary" type="submit" name="Update"/>
	#{/form}

	<ul id="list-restaurant">
		#{list listeResto, as:'restaurant'}
		<li><div class="row"><a class="btn btn-primary btn-lg" role="button" href="updateResto#${restaurant.name}">${restaurant.name}</a></div></li>
		#{/list}
	</ul>

	#{/else}
</div>