#{extends 'main.html' /}
#{set title:'Account Management' /}


<div class="main container-fluid">
	#{if user.type == "Restaurateur"}
		<div class="row">
			<a class="btn btn-primary btn-lg" role="button" href="manageResto">Modifier un restaurant</a>
		</div><br>
	#{/if}

	#{if user.type == "Entrepreneur"}
	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="formulaireResto">Ajouter un restaurant</a>
	</div><br>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="manageResto">Modifier un restaurant</a>
	</div><br>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="deleteResto">Supprimer un restaurant</a>
	</div><br>
	#{/if}

	<a href="/" class="btn btn-primary" role="button">Retour à la page d'accueil</a>

</div>