#{extends 'main.html' /}
#{set title:'Account Management' /}

<div class="main container-fluid">
	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="nouveauRestaurateur">Ajouter un restaurateur</a>
	</div>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="supprimerRestaurateur">Supprimer Restaurateur</a>
	</div>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="modificationRestaurateur">Modification Restaurateur</a>
	</div>
</div>