#{extends 'main.html' /}
#{set title:'Menu management' /}

<div class="main container-fluid">
	<h1>Que voulez vous faire:</h2>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="formulaireMenu">Ajouter un menu</a>
	</div>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="supprimerMenu">Supprimer menu</a>
	</div>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="modifierMenu">Modification menu</a>
	</div>

	<div class="row">
		<a class="btn btn-primary btn-lg" role="button" href="formulairePlat">Ajouter plat</a>
	</div>

	<br><a href="/" class="btn btn-primary" role="button">Retour à la page d'accueil</a>

</div>