#{extends 'main.html' /}
#{set title:'Modification Restaurateur' /}

<div class="main container-fluid">


	<h1>Quel restaurateur voulez vous modifier:</h1>

	#{form @Application.updateRestaurateur()}
		<select class="form-control" size="1" name="restoName">
			#{list listeResto, as:'restaurateur'}
			<option name="restoName" id="restoName" value="${restaurateur.username}">${restaurateur.username}</option>
			#{/list}
		</select>
		<input class="btn btn-primary" type="submit" name="Update"/>
	#{/form}

</div>