#{extends 'main.html' /}
#{set title:'Confirmation' /}

<div class="main container-fluid">



	#{form @Application.saveAndAddCommandeMenu()}


		<div class="row form-group">
			<label class="col-sm-2">Quel plat voulez-vous ?</label>
			<div class="col-sm-10">
				<select class="form-control" size="1" name="platName">
					#{list listePlat, as:'plats'}
					<option name="platName" id="platName" value="${plats.name}">${plats.name}</option>
					#{/list}
				</select>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-sm-2">Quelle quantité ? </label>
			<div class="col-sm-10"><input class="form-control" name="quantite" type="number" placeholder="0" min="1" max="50"></div>
		</div>
		<input class="btn btn-primary" type="submit" name="Add" value="Compléter la commande"/>
	#{/form}

</div>