#{extends 'main.html' /}
#{set title:'Confirmation' /}

<div class="main container-fluid">

	<h2>Voici les menus du restaurant ${r.name} : </h2>
	<ul>
		#{list listeMenus, as:'menus'}
		<li>${menus.name}</li>
		#{/list}
	</ul>
	<br><br>


	#{form @Application.saveAndAddCommandeMenu()}
		<input class="hidden" id="restoName" name="restoName" type="text" placeholder="1" min="1" value="${r.name}" max="50">
		<div class="row form-group">
			<label class="col-sm-2">Quel menu voulez-vous ?</label>
			<div class="col-sm-10">
				<select class="form-control" size="1" name="menuName">
					#{list listeMenus, as:'menus'}
					<option name="menuName" id="menuName" value="${menus.name}">${menus.name}</option>
					#{/list}
				</select>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-sm-2">Quelle quantité ? </label>
			<div class="col-sm-10"><input class="form-control" name="quantite" type="number" placeholder="1" min="1" max="50"></div>
		</div>
		<input class="btn btn-primary" type="submit" name="Add" value="Compléter la commande"/>
	#{/form}

</div>