#{extends 'main.html' /}
#{set title:'Confirmation' /}

<div class="main container-fluid">

	<h1>Votre commande a bien été enregistrée</h1>

	<h2>Vous êtes présentement dans le menu du restaurant ${r.name}</h2>
	<h3>Voici les plats dans votre panier</h3>
	<ul>
		#{list listePanier, as:'plats'}
		<li>${plats.plats}</li> Quantite: ${plats.quantite}
		#{/list}
	</ul>
	<br><br>

	<a href="/Application/sommaireCommande"><h2>Finaliser ma commande</h2></a>
	<h2>Ajouter une autre commande</h2>
	#{form @Application.saveAndAddCommandeMenu()}
		<div class="row form-group">
			<label class="col-sm-2">Quel plat voulez-vous ?</label>
			<div class="col-sm-10">
				<select class="form-control" size="1" name="platName">
					#{list listePlat, as:'plats'}
					<option name="platName" id="platName" value="${plats.name}">${plats.name}</option>
					#{/list}
				</select>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-sm-2">Quelle quantité ? </label>
			<div class="col-sm-10"><input class="form-control" name="quantite" type="number" placeholder="1" min="1" max="50"></div>
		</div>
		<input class="btn btn-primary" type="submit" name="Add" value="Ajouter le plat"/>
	#{/form}



</div>