#{extends 'main.html' /}
#{set title:'Restaurateur Management' /}

<div class="main container-fluid">

	<h1>Bonjour dans le compte de restaurateur <b>${resto.username}</b></h1>

	#{form @Application.confirmationModificationRestaurateur()}

		<div class="form-group row">
			<label class="col-sm-2">Username : </label>
			<div class="col-sm-10"><input class="form-control" name="username" type="text" value=${resto.username} /></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2">First Name : </label>
			<div class="col-sm-10"><input class="form-control" name="firstName" type="text" value=${resto.firstName} /></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2">Last Name : </label>
			<div class="col-sm-10"><input class="form-control" name="lastName" type="text" value=${resto.lastName} /></div>
		</div>

		#{if restaurant}
		<div class="form-group row">
		<label class="col-sm-2">Restaurant : </label>

			<select size="1" name="restaurant">
	#{list listeResto, as:'restaurant'}
	<option name="restaurant" id="restaurant" value="${restaurant.name}">${restaurant.name}</option>
	#{/list}
	</select>
		#{/if}

		<input class="btn btn-primary" type="submit" name="Update"/>

	#{/form}

</div>