Bonjour dans le restaurant <b>${resto.name}</b> </br></br></br>
test : ${restoName}

#{form @Application.confirmationModificationResto()}

Nom : <input name="name" type="text" value=${resto.name} /><br/>
Restaurateur : 	<select size="1" name="restoName">
	#{list listeResto, as:'restaurateur'}
	<option name="admin" id="admin" value="${restaurateur.username}">${restaurateur.username}</option>
	#{/list}
	</select><br/>






Description : <input name="description" type="text" value=${resto.description} /><br/>
<input type="submit" name="Update"/>

#{/form}

